COMPOSE_PROJECT_NAME=ci

# vales are used as is

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGDATA=

CONCOURSE_BASIC_AUTH_USERNAME=
CONCOURSE_BASIC_AUTH_PASSWORD=
CONCOURSE_POSTGRES_DATA_SOURCE=
CONCOURSE_EXTERNAL_URL=

CONCOURSE_TSA_HOST=concourse-web
